// .map-page {
//   background-color: $black !important;
//   .button-white {
//     min-width: 115px !important;
//     padding: 8px!important;
//     margin-top: 0!important;
//     margin-bottom: 3px!important;
//   }
// }

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
  display: none !important;
}
#map {
  min-height: 83vh;
}

// .mapboxgl-popup {
//   // width: 600px !important;
//   // max-width: 600px !important;
//   height: 400px;
//   background-color: black;
// }

// .mapboxgl-marker {
//   svg g {
//     fill: $main !important;
//   }
// }

// .popup-container {
//   display: flex;
//   a {
//     text-decoration: none !important;
//     color: black;
//     &:hover {
//       text-decoration: none;
//     }
//   }
// }

// .popup-content {
//   text-align: center;
//   height: 400px;
// }

// #popup-header {
//   text-align: center;
// }

.maxi-input-map-add {
  border: none;
  color: $main;
  text-decoration: none;
  position: fixed;
  a {
    text-decoration: none;
    border: none;
  }

  color: black;
  background-color: orange;
  border-radius: 10px;
  padding: 3px 8px;
  &:hover {
    color: white;
    background-color: black;
    text-decoration: none;
  }
}

.mapboxgl-popup-content {
  min-width: 500px !important;
}
